<h1>My bookings as an owner</h1>
<% if @boats == nil %>
  <%= "You don't have any boats as an owner" %>
<% else %>
<% @boats.each do |boat| %>
  <% boat.bookings.each do |booking| %>
      id<%= booking.id %><br>
      start_date<%= booking.start_date %><br>
      end_date <%= booking.end_date %><br>
      status<%= booking.status %><br>
      review_rating <%= booking.review_rating %><br>
      review_content <%= booking.review_content %><br>
      user_id <%= booking.user_id %><br>
      boat_id <%= booking.boat_id %><br>
      ------------------------- <br>
      <% end %>
    <% end %>
  <% end %>

  <h1>My bookings as a user</h1>
  <% if @bookings_users == nil %>
    <%= "You don't have any reservations as an owner" %>
  <% else %>
    <% @bookings_users.each do |booking| %>
    id<%= booking.id %><br>
    start_date <%= booking.start_date %><br>
    end_date <%= booking.end_date %><br>
    status<%= booking.status %><br>
    review_rating <%= booking.review_rating %><br>
    review_content <%= booking.review_content %><br>
    user_id <%= booking.user_id %><br>
    boat_id <%= booking.boat_id %><br>
    ------------------------- <br>
    <% end %>
  <% end %>
