<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="col-xs-12 col-md-12 owner">
        <h3>My bookings as an owner</h3>
        <% if @nb_bookings == 0 %>
          <p> You don't have any reservations as an owner <p>
        <% else %>
          <p> You have <%= @nb_bookings %> reservations <p>
          <div class="row">
            <% @boats.each do |boat| %>
              <div class="col-xs-12 col-md-12">
                <% boat.bookings.each do |booking| %>
                  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path boat.boat_picture %>');">
                    <div class="card-category"><%= booking.boat.location %></div>
                    <div class="card-description">
                      <h2><%= link_to booking.boat.name%></h2>
                      <p><%= booking.start_date %> - <%= booking.start_date %></p>
                    </div>
                    <%= link_to "", boat_path(boat), class:"card-link" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= link_to 'Manage by boats', boats_path, class:'btn btn-info' %>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="col-xs-12 col-md-12 user">
      <h3>My bookings as a user</h3>
      <% if @bookings_users == [] %>
        <p> You don't have any reservations as a user <p>
      <% else %>
        <p> You have <%= @bookings_users.size %> reservations <p>
        <div class="row">
            <div class="col-xs-12 col-md-12">
              <% @bookings_users.each do |booking| %>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path booking.boat.boat_picture %>');">
                  <div class="card-category"><%= booking.boat.location %></div>
                  <div class="card-description">
                    <h2><%= link_to booking.boat.name%></h2>
                    <p><%= booking.start_date %> - <%= booking.start_date %></p>
                  </div>
                  <%= link_to "", boat_booking_path(booking, booking.boat), class:"card-link" %>
                </div>
              <% end %>
            </div>
        </div>
      <% end %>
      <%= link_to 'Search a boat', index_all_boats_path, class:'btn btn-info' %>
    </div>
  </div>
</div>
