<h1>Edit Boat Detail</h1>

<%= form_for @boat, :url =>{:action => "update", :id =>@boat} do |f| %>

<p>Name: <%= f.text_field 'name' %></p>
<p>Location: <%= f.text_field  'location' %></p>
<p>Capacity:<%= f.text_area 'capacity' %></p>
<p>Price:<%= f.text_area 'price' %></p>
<%= f.submit "Save changes" %>
<% end %>


<%= link_to 'Back', boats_path(@boat) %>
