<h1>All Boats</h1>
<form action="/boats/index_all" class="form-inline">
  <input name="start_date" type="date" class="form-control input-lg" placeholder="checkin">
  <input name="end_date" type="date" class="form-control input-lg" placeholder="checkout">
  <input name="location" type="text" class="form-control input-lg" placeholder="location">
  <input name="capacity" type="integer" class="form-control input-lg">
  <input type="submit" class="btn btn-primary btn-lg" value="Search">
</form>

<% @boats.each do |boat| %>
  <%= link_to boat.name, boat_path(boat)%>
  location: <%= boat.location %>
  capacity: <%= boat.capacity %>
  price/night: <%= boat.price %>
<% end %>

<%= link_to "Add a boat", new_boat_path %>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
