<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1> <%= @boat.name %> </h1>

      <%= cl_image_tag @boat.boat_picture, height: 300, width: 400, crop: :fill %>

      <ul>
        <li> Location: <%= @boat.location%> </li>
        <li> Capacity: <%= @boat.capacity%> persons </li>
        <li> Price: <%= @boat.price%>€/night </li>
        <li>
            <% if @availabilities == [] %>
              This boat has no available period
            <% else %>
              This boat is available during the following periods:
              <ul>
              <% @availabilities.each do |av| %>
                <li>
                  <%= av.start_date %> - <%= av.end_date %>
                  <% if current_user && current_user.id == @boat.user_id %>
                    <%= link_to edit_boat_availability_path(@boat, av) do %>
                      <i class="fa fa-pencil-square-o"></i>
                    <% end %>
                    <%= link_to boat_availability_path(@boat, av),
                    method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      </ul>
    </div>
    <% unless current_user && current_user.id == @boat.user_id %>
    <div class="col-xs-12 col-sm-6 book-form">
      <h3> Spend one or more nights on board</h2>
        <%= render 'form_booking' %>
      <% end %>
    </div>
  </div>
</div>
<br>



<% if current_user && current_user.id == @boat.user_id %>
  <%= link_to "Edit my boat", edit_boat_path(@boat), class: "btn btn-primary" %>
  <%= link_to "Add availability", new_boat_availability_path(@boat), class: "btn btn-primary" %>
  <%= link_to 'Delete this boat', boat_path(@boat),
      data: { confirm: 'Are you sure?' }, method: :delete, class:"btn btn-danger" %>
<% end %>
<br>
<br>

<% if current_user && current_user.id == @boat.user_id %>
  <%= link_to "<< Return to my boats", boats_path, class:"btn btn-primary" %>
<% else %>
  <%= link_to "<< Return to all boats", index_all_boats_path, class:"btn" %>
<% end %>

<div id="reviews">
  <%= render 'form_review' %>
  <% if @reviews == nil %>
    This boat has no reviews yet...
  <% else %>
    This boat has already been reviewed, check it out:
    <ul>
    <% @reviews.each do |review| %>
      <li>
        <%= review.content %>
      </li>
      <% end %>
  <% end %>
</div>


  <%= month_calendar events: @ranges do |date, range| %>
    <%= date %>
  <% end %>

<div id="map_show" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map_show' } }, function(){
        markers = handler.addMarkers(<%= raw @marker_show.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
